.planet-icon-2 {
    ._svg {
        .st2 {
            fill: none;
            stroke: #7c7ca4 ;
            stroke-width: 3;
            stroke-miterlimit: 10;
        }

        .st4 {
            opacity: 0.3;
            fill: #d5d5f0;
        }

        .st5 {
            fill: none;
            stroke: #444444;
            stroke-width: 2;
            stroke-linecap: square;
            stroke-miterlimit: 10;
        }

        .st6 {
            fill: none;
            stroke: #444444;
            stroke-miterlimit: 10;
        }

        .st7{
            fill: #444444;
        }
    }
}
