.planet-icon-2 {
    > ._svg {
        > ._ring {
            fill: none;
            stroke: #7c7ca4 ;
            stroke-width: 3;
            stroke-miterlimit: 10;
        }

        > ._background {
            opacity: 0.3;
            fill: #d5d5f0;
        }

        > ._line {
            fill: none;
            stroke: #444444;
            stroke-width: 2;
            stroke-linecap: square;
            stroke-miterlimit: 10;
        }
    }
}
