.portfolio-layout {
    > ._hero-banner {
        position: relative;
        padding: 20px;
        background: url('./minilobby.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        z-index: 0;

        > ._overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(60, 16, 83, 0.8);
            z-index: -1;
        }


    }

    > ._section {
        padding: 25px;
        background-color: white;
    }

    > ._parallax-layer {
        position: relative;
        padding: 20px;
        background: url('./bath8.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        > ._overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(60, 16, 83, 0.8);
            z-index: -1;
        }
    }
}
