html {
    height: 100%;

    > body {
        margin: 0;
        height: 100%;
        font-family: 'Montserrat', serif;
        font-weight: 100;
        background: #3c1053; /* fallback for old browsers */
        background: linear-gradient(to bottom, #ad5389, #3c1053);

        > #app {
            height: 100%;
        }
    }
}

button {
    font-family: inherit;
    cursor: pointer;
}
