html {
    height: 100%;

    > body {
        margin: 0;
        height: 100%;
        font-family: 'Helvetica';
        background: #464248; /* fallback for old browsers */
        background: linear-gradient(to bottom, #8c7e86, #464248);

        > #app {
            height: 100%;
        }
    }
}

button {
    font-family: inherit;
    cursor: pointer;
}
